<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <link rel="icon" href="img/spotify.webp" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/53b34e5099.js" crossorigin="anonymous"></script>
</head>
<body id="spotify">
    
    <header>
        <div class="upgrade">
            EFFETTUA L'UPGRADE
        </div>
    </header>

    
    <nav class="left-column">
        
        <div class="left-column-top">
            <div class="spotify">
                <i class="fa-brands fa-spotify"></i>
                <div>Spotify</div>
            </div>
    
            <div class="navigation-list lgt-gray">
                <div class="home">
                    <span id="selec-green"></span>
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span>Cerca</span>
                </div>
                <div class="library">
                    <i class="fa-solid fa-book"></i>
                    <span>La tua libreria</span>
                </div>
            </div>
    
            <div class="playlist">
                PLAYLIST
            </div>
    
            <div class="crea-play">
                <div class="gray-square">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="create">
                    Crea Playlist
                </div>
            </div>

            <div class="lista-playlist">
                <div class="nome-playlist">
                    Nome Playlist
                </div>
                <div class="nome-playlist">
                    Nome Playlist
                </div>
                <div class="nome-playlist">
                    Nome Playlist
                </div>
                <div class="nome-playlist">
                    Nome Playlist
                </div>
                <div class="nome-playlist">
                    Nome Playlist
                </div>
                <div class="nome-playlist">
                    Nome Playlist
                </div>
                <div class="nome-playlist">
                    Nome Playlist
                </div>
            </div>

        </div>

        <div class="left-col-bottom lgt-gray">
            <div class="install">
                <i class="fa-regular fa-circle-down"></i>
                <span>
                    Installa app
                </span>
            </div>
            <hr>
            <div class="john">
                <i class="fa-solid fa-circle-user"></i>
                <span>Marco Celegato</span>
            </div>
        </div>

    </nav>


    <div class="central-cont">
        <div class="central-cont-titoli">
            <div id="in-evidenza" class="white pointer">
                IN EVIDENZA <span id="selected-title"></span>
            </div>
            <div class="white pointer">PODCAST</div>
            <div class="white pointer">CLASSIFICHE</div>
            <div class="white pointer">GENERI E MOOD</div>
            <div class="white pointer">NUOVE USCITE</div>
            <div class="white pointer">SCOPRI</div>
        </div>

        <div class="albums">
            <h4 class="recent">
                Recently played
            </h4>
            <div class="albums-container">
                <div v-for="song in songs" class="albums-image">
                    <div class="image">
                        <img v-bind:src="song.image" alt="">
                    </div>
                    <h6 class="title">
                        {{ song.title }}
                    </h6>
                    <div class="subtitle">
                        {{ song.author }}
                    </div>
                </div>
            </div>
            <h4 class="created-for-john">
                Creato per te
            </h4>
            <div class="subtitle bigger">
                Più ascolti, più accurati saranno i suggerimenti.
            </div>
            <div class="albums-container">
                <div v-for="playlist in suggestedPlaylists" class="albums-image">
                    <div class="image">
                        <img v-bind:src="playlist.image" alt="">
                    </div>
                    <h6 class="title">
                        {{ playlist.name }}
                    </h6>
                    <div class="subtitle">
                        {{ playlist.description }}
                    </div>
                </div>
            </div>
            <h4 class="created-for-john">
                Artisti più popolari
            </h4>
            <div class="subtitle bigger">
                Più ascolti, più accurati saranno i suggerimenti.
            </div>
            <div class="albums-container">
                <div v-for="artist in mostPopularArtists" class="albums-image">
                    <div class="image round">
                        <img v-bind:src="artist.image" alt="">
                    </div>
                    <h6 class="title">
                        {{ artist.name }}
                    </h6>
                </div>
            </div>
        </div>
    </div>



    
    <footer>

        <div class="foot-left">
            <div class="foot-image">
                <img src="img/sinister.jpeg" alt="">
            </div>
            <div class="foot-left-text">
                <div class="sinister">
                    Sinister
                </div>
                <div class="nome-brano">
                    Brano Nome
                </div>
            </div>
            <div class="foot-left-figures">
                <i class="fa-regular fa-heart"></i>
                <br>
                <i class="fa-regular fa-folder"></i>
            </div>
        </div>
        
        <div class="foot-mid">
            <div class="player-buttons">
                <i class="fa-solid fa-shuffle pointer"></i>
                <i class="fa-solid fa-backward-step pointer"></i>
                <div class="playContainer">
                    <i v-bind:class="{ active: !showPause }" @click="togglePlayerButtons" id="play" class="fa-regular fa-circle-play play pointer"></i>
                    <i v-bind:class="{ active: showPause }" @click="togglePlayerButtons" class="fa-regular fa-circle-pause pause pointer"></i>
                </div>
                <i class="fa-solid fa-forward-step pointer"></i>
                <i class="fa-solid fa-rotate-right pointer"></i>
            </div>
            <div class="playLine">
                <span>0:25</span>
                <div class="playing-bar">
                    <div class="mini-playing-bar"></div>
                </div>
                <span>4:35</span>
            </div>
            
        </div>

        <div class="foot-right">
            <i class="fa-solid fa-list"></i>
            <i class="fa-solid fa-tv"></i>
            <i class="fa-solid fa-volume-high"></i>
            <span class="foot-right-bar"><span id="mini-bar"></span></span>
        </div>

    </footer>

    <!-- <script>
        let play = document.getElementById("play");
        function playMusic() {
            let audio = new Audio("MiaMia.mp3");
            audio.play();
        }

        function togglePlayerButtons() {
            const playButton = document.querySelector('.play');
            const pauseButton = document.querySelector('.pause');
            
            if (playButton.style.visibility === 'visible') {
                playButton.style.visibility = 'hidden';
                pauseButton.style.visibility = 'visible';
            } else {
                playButton.style.visibility = 'visible';
                pauseButton.style.visibility = 'hidden';
            }
        }

        play.addEventListener("click", togglePlayerButtons);

    </script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>