* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ‘Montserrat’, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    position: absolute;
    right: 0;
    z-index: -1;
    height: 60px;
    width: calc(100vw - 160px);
    background-color: rgb(8, 11, 18);

}

.upgrade {
    color: white;
    padding: 8px 20px 8px 20px;
    margin-right: 4px;
    font-size: 9px;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid white;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
    width: 160px;
    height: calc(100vh - 60px);
    background-color:black;
    font-size: 9px;
    overflow: auto;
}

.spotify {
    color: white;
    font-size: 22px;
}

.navigation-list {
    margin-top: 15px;
}

.lgt-gray {
    color: rgb(158, 158, 158);
}

.home {
    position: relative;
}

#selec-green {
    position: absolute;
    left: -10px;
    height: 100%;
    width: 2px;
    background-color: rgb(192, 255, 49);
}

.search {
    margin-top: 10px;
}

.library {
    margin-top: 10px;
}

.fa-house, .fa-magnifying-glass, .fa-book {
    font-size: 13px;
}

.playlist {
    margin-top: 15px;
    font-size: 9px;
    font-weight: bold;
    color: white;
}

.crea-play {
    display: flex;
    margin-top: 10px;
}

.gray-square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    width: 22px;
    height: 22px;
    background-color: rgb(158, 158, 158);;
}

.create {
    display: flex;
    align-items: center;
    margin-left: 7px;
    color: rgb(158, 158, 158);
}

.lista-playlist {
    color: rgb(158, 158, 158);    
}

.nome-playlist {
    margin-top: 10px;
}

.left-col-bottom {
    margin-top: 20px;
}

.install {
    margin-bottom: 4px;
    color: rgb(158, 158, 158);
}

.install span {
    margin-left: 6px;
}

hr {
    height: 1px; 
    background-color: rgb(158, 158, 158);
    margin-top: 7px; 
    border: none;
    width: 140px;
}

.fa-circle-user {
    font-size: 16px;
}

.john {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.john span {
    margin-left: 6px;
    color: white;
    font-weight: bold;
}

.central-cont {
    background-color: rgb(20, 25, 34);
    width: calc(100vw - 160px);
    height: calc(100vh - 120px);
    padding: 0px 5px 10px 5px;
    position: absolute;
    top: 60px;
    left: 160px;
    overflow: auto;
}

.central-cont-titoli {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 520px;
    margin: 5px auto;
}

.central-cont-titoli div {
    margin: 4px 4px;
    font-size: 10px;
    color: rgb(158, 158, 158);
}

#in-evidenza {
    position: relative;
}

#selected-title {
    position: absolute;
    left: 21px;
    bottom: -4px;
    height: 2px;
    width: 22px;
    background-color: rgb(192, 255, 49);
}

.recent {
    color: white;
    margin-top: 15px;
}

.albums-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.albums-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round img {
    border-radius: 50%;
}

.image {
    padding: 5px;
    max-height: 160px;
    max-width: 160px;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.title {
    color: white;
    margin-top: 10px;
}

.subtitle {
    margin-top: 5px;
    color: rgb(158, 158, 158);
    font-size: 10px;
}

.created-for-john {
    color: white;
    margin-top: 15px;
}






footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    bottom: 0;
    padding: 0px 5px 0px 5px;
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 60px;
    z-index: 4;
}

.foot-left {
    display: flex;
    align-items: center;
}

.foot-image {
    width: 25px;
    height: 25px;
}

.foot-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.foot-left-text {
    font-size: 8px;
    margin-left: 4px;
}

.sinister {
    color: white;
}

.nome-brano {
    color: rgb(158, 158, 158);
}

.foot-left-figures {
    margin-left: 20px;
    font-size: 10px;
    color: rgb(158, 158, 158);
}

.fa-heart {
    margin-bottom: 2px;
}



.foot-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    font-size: 8px;
    color: white;
}

.fa-circle-play {
    font-size: 23px;
}

.play {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.play span {
    display: flex;
    color: white;
    font-size: 10px;
}

.playing-bar {
    position: relative;
    width: 25vw;
    border-radius: 3px 3px 3px 3px;
    margin: 0px 8px;
    height: 3px;
    background-color: gray;
}


.mini-playing-bar {
    position: absolute;
    height: 3px;
    width: 8vw;
    border-radius: 3px 3px 3px 3px;
    background-color: rgb(235, 223, 223);
}


.foot-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-list, .fa-tv, .fa-volume-high {
    font-size: 10px;
    margin-right: 10px;
    color: white;
}

.foot-right-bar {
    position: relative;
    height: 3px;
    width: 80px;
    border-radius: 3px 3px 3px 3px;
    background-color: gray;
}

#mini-bar {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px 3px 3px 3px;
    background-color: rgb(235, 223, 223);
}








@media screen and (max-width: 400px) {
    header {
        width: calc(100vw - 40px)
    }
    .left-column {
        align-items: center;
        width: 40px;
        padding: 2px 0px 6px 0px;
    }
    .left-column-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-col-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 12px;
        bottom: 5px;
        }
    .spotify span {
        display: none;
    }
    .navigation-list span {
        display: none;
    }
    .playlist {
        display: none;
    }
    .lista-playlist {
        display: none;    
    }
    .navigation-list {
        margin-top: 10px;
    }
    .crea-play {
        display: none;
    }
    .install span {
        display: none;
    }
    .john span {
        display: none;
    }
    hr {
        display: none;
    }  
    
    .playing-bar {
        width: 20vw;
    }
    .foot-right-bar {
        position: relative;
        height: 3px;
        width: 50px;
        border-radius: 3px 3px 3px 3px;
        background-color: gray;
    }
    .fa-list, .fa-tv, .fa-volume-high {
        font-size: 7px;
        margin-right: 7px;
    }
    .foot-left-figures {
        margin-left: 6px;
    }
    .player-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60px;
        font-size: 5px;
        color: white;
    }
    .fa-circle-play {
        font-size: 10px;
    }
    .play span {
        font-size: 5px;
    }
    .play span {
        font-size: 5px;
    }
    .central-cont {
        width: calc(100vw - 40px);
        left: 40px;
    }   
}

@media screen and (max-width:700px) {
    .central-cont-titoli {
        flex-wrap: wrap;
        width: 90%;
    }     
}

@media screen and (max-width: 292px) {
    .foot-left-text {
        width: 35px;
    }
    .foot-left-figures {
        margin: 0px;
    }
    .playing-bar {
        width: 15vw;
        margin: 0px 4px;
    }
    .foot-right-bar {
        width: 30px;
    }
    #mini-bar {
        width: 10px;
    }
}

@media screen and (max-width: 700px) {
    .albums-container {
        flex-wrap: wrap;
        flex-basis: 8%;
    }
}