* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ‘Montserrat’, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    position: absolute;
    right: 0;
    height: 60px;
    width: calc(100vw - 200px);
    background-color: rgb(8, 11, 18);
}

.upgrade {
    color: white;
    padding: 8px 20px 8px 20px;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid white;
    cursor: pointer;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 5px 20px;
    width: 200px;
    height: calc(100vh - 80px);
    background-color:black;
    font-size: 17px;
    overflow: auto;
}

.spotify {
    display: flex;
    align-items: center;
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.spotify i {
    font-size: 38px;
    margin-right: 10px;
}

.navigation-list {
    margin-top: 35px;
    font-weight: bold;
}

.navigation-list i {
    font-size: 18px;
    margin-right: 10px;
}

.navigation-list div:hover {
    color: white;
    cursor: pointer;
}

.lgt-gray {
    color: rgb(158, 158, 158);
}

.home {
    position: relative;
    color: white;
}

#selec-green {
    position: absolute;
    left: -20px;
    height: 100%;
    width: 4px;
    background-color: rgb(192, 255, 49);
}

.search {
    margin-top: 10px;
}

.library {
    margin-top: 10px;
}

.fa-house, .fa-magnifying-glass, .fa-book {
    font-size: 13px;
}

.playlist {
    margin-top: 35px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: default;
}

.crea-play {
    display: flex;
    margin-top: 15px;
    cursor: pointer;
}

.crea-play:hover .gray-square {
    background-color: white;
}

.crea-play:hover .create {
    color: white;
}

.gray-square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    width: 22px;
    height: 22px;
    background-color: rgb(158, 158, 158);
    border-radius: 3px;
}

.create {
    display: flex;
    align-items: center;
    margin-left: 7px;
    margin-bottom: 15px;
    color: rgb(158, 158, 158);
}

.lista-playlist {
    color: rgb(158, 158, 158);    
}

.lista-playlist div {
    font-size: 13px;    
}

.nome-playlist {
    margin-top: 10px;
}

.nome-playlist:hover {
    color: white;
    cursor: pointer;
}

.left-col-bottom {
    margin-top: 20px;
}

.install {
    margin-bottom: 4px;
    color: rgb(158, 158, 158);
}

.install span {
    margin-left: 6px;
}

.install:hover {
    color: white;
    cursor: pointer;
}

hr {
    height: 1px; 
    background-color: rgb(158, 158, 158);
    margin-top: 7px; 
    border: none;
    width: 160px;
}

.fa-circle-user {
    font-size: 16px;
}

.john {
    display: flex;
    align-items: center;
    margin-top: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.john span {
    margin-left: 6px;
    color: white;
    font-weight: bold;
}

.central-cont {

    background-color: rgb(20, 25, 34);
    width: calc(100vw - 200px);
    height: calc(100vh - 120px);
    padding: 0px 20px 10px 20px;
    position: absolute;
    top: 60px;
    left: 200px;
    overflow: auto;
}

.central-cont-titoli {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px auto;
}

.central-cont-titoli div {
    margin: 6px;
    font-size: 14px;
    color: rgb(158, 158, 158);
}

#in-evidenza {
    position: relative;
}

#selected-title {
    position: absolute;
    left: 34px;
    bottom: -4px;
    height: 2px;
    width: 22px;
    background-color: rgb(192, 255, 49);
}

.white:hover {
    color: white;
}

.recent {
    color: white;
    margin-top: 25px;
    cursor: default;
    font-size: 22px;
}

.albums-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 80px;
}

.albums-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(26, 31, 37);
}

.albums-image:hover {
    background-color: rgb(37, 45, 59);
}

.image {
    padding: 10px;
    max-height: 160px;
    max-width: 160px;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.round img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    object-fit: cover;
}

.title {
    color: white;
    max-width: 150px;
    text-align: center;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.subtitle {
    margin-top: 5px;
    color: rgb(158, 158, 158);
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    max-width: 160px;
}

.bigger {
    font-size: 13px;
    max-width: 600px;
}

.created-for-john {
    color: white;
    margin-top: 20px;
    font-size: 22px;
}






footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    bottom: 0;
    padding: 0px 5px 0px 5px;
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 80px;
    z-index: 4;
}

.foot-left {
    display: flex;
    align-items: center;
}

.foot-image {
    width: 25px;
    height: 25px;
}

.foot-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.foot-left-text {
    font-size: 8px;
    margin-left: 4px;
}

.sinister {
    color: white;
}

.nome-brano {
    color: rgb(158, 158, 158);
}

.foot-left-figures {
    margin-left: 20px;
    font-size: 10px;
    color: rgb(158, 158, 158);
}

.fa-heart {
    margin-bottom: 2px;
}



.foot-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    font-size: 20px;
    color: white;
}

.fa-circle-play {
    visibility: hidden;
}

.fa-circle-pause {
    position: absolute;
    visibility: hidden;
}

.active {
    visibility: visible;
}

.playContainer {
    display: flex;
    position: relative;
    font-size: 30px;
}

.playLine {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.playLine span {
    display: flex;
    color: white;
    font-size: 10px;
}

.playing-bar {
    position: relative;
    width: 25vw;
    border-radius: 3px 3px 3px 3px;
    margin: 0px 8px;
    height: 3px;
    background-color: gray;
}


.mini-playing-bar {
    position: absolute;
    height: 3px;
    width: 8vw;
    border-radius: 3px 3px 3px 3px;
    background-color: rgb(235, 223, 223);
}


.foot-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-list, .fa-tv, .fa-volume-high {
    font-size: 10px;
    margin-right: 10px;
    color: white;
}

.foot-right-bar {
    position: relative;
    height: 3px;
    width: 80px;
    border-radius: 3px 3px 3px 3px;
    background-color: gray;
}

#mini-bar {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px 3px 3px 3px;
    background-color: rgb(235, 223, 223);
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar:hover {
    display: block;
}


.pointer {
    cursor: pointer;
}




@media screen and (max-width: 400px) {
    header {
        width: calc(100vw - 40px)
    }
    .left-column {
        align-items: center;
        width: 40px;
        padding: 2px 0px 6px 0px;
    }
    .left-column-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-col-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 12px;
        bottom: 5px;
    }
    .spotify {
        display: flex;
        justify-content: center;
    }
    .spotify i {
        margin: 0 auto;
    }
    .spotify div {
        display: none;
    }
    .navigation-list div i {
        margin: 0 auto;
    }
    .navigation-list span {
        display: none;
    }
    .playlist {
        display: none;
    }
    .lista-playlist {
        display: none;    
    }
    .navigation-list {
        margin-top: 10px;
    }
    .crea-play {
        display: none;
    }
    .install span {
        display: none;
    }
    .john span {
        display: none;
    }
    hr {
        display: none;
    }  
    .central-cont {
        padding: 0px 3px 10px 3px;
    }
    .playing-bar {
        width: 20vw;
    }
    .foot-right-bar {
        position: relative;
        height: 3px;
        width: 50px;
        border-radius: 3px 3px 3px 3px;
        background-color: gray;
    }
    .fa-list, .fa-tv, .fa-volume-high {
        font-size: 7px;
        margin-right: 7px;
    }
    .foot-left-figures {
        margin-left: 6px;
    }
    /* .player-buttons {
        display: block;
        justify-content: space-between;
        align-items: center;
        color: white;
        width: 120px;
    } */
    /* .fa-circle-play {
        font-size: 10px;
    } */
    .play span {
        font-size: 5px;
    }
    .play span {
        font-size: 5px;
    }
    .central-cont {
        width: calc(100vw - 40px);
        left: 40px;
    }
    .image {
        padding: 5px;
        max-height: 140px;
        max-width: 140px;
    }
    .title {
        max-height: 140px;
        max-width: 140px;
    }
    .subtitle {
        max-height: 140px;
        max-width: 140px;
    }
    .bigger {
        font-size: 13px;
        max-width: 310px;
    }
}

@media screen and (max-width:1088px) {
    .central-cont-titoli {
        width: 90%;
    }   
    .central-cont-titoli div {
        font-size: 12px;
    }
    #selected-title {
        left: 28px;
    }
}

@media screen and (min-width:1550px) {
    .image {
        max-height: 220px;
        max-width: 220px;
    }  
    .albums-image {
        margin: 10px;
    }  
    .title {
        font-size: 18px;
        padding: 0px;
    }
    .subtitle {
        font-size: 15px;
    }
    .upgrade {
        font-size: 14px;
    }
    .lista-playlist div {
        font-size: 16px;
    }
}

@media screen and (max-width: 292px) {
    .foot-left-text {
        width: 35px;
    }
    .foot-left-figures {
        margin: 0px;
    }
    .playing-bar {
        width: 15vw;
        margin: 0px 4px;
    }
    .foot-right-bar {
        width: 30px;
    }
    #mini-bar {
        width: 10px;
    }
}

@media screen and (max-width: 700px) {
    .central-cont-titoli div {
        font-size: 11px;
    }
    #selected-title {
        left: 25px;
    }
}
@media screen and (max-width: 350px) {
    .albums {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .albums-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bigger {
        font-size: 11px;
        max-width: 310px;
    }
}